@charset "UTF-8";
body {
  font-family: sans-serif;
}

.wrapper {
  height: 100vh;
  background-color: #EBE0D9;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.wrapper::after {
  background-color: #ffff;
  content: '';
  position: absolute;
  left: 0;
  top: 30vh;
  /*四角形を傾けます*/
  -webkit-transform: skewY(-14deg);
          transform: skewY(-14deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.Block2 {
  position: relative;
  z-index: 0;
}

.Block2::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  /*四角形を傾けます*/
  -webkit-transform: skewY(2deg);
          transform: skewY(2deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #191970;
}

.btn {
  width: 60%;
  background-color: #625b56;
  padding: 45px 80px;
  background: linear-gradient(75.71deg, #fccb90 0%, #d57eeb 141.32%);
  -webkit-box-shadow: 10px 10px 10px #ebe0d9;
          box-shadow: 10px 10px 10px #ebe0d9;
  border-radius: 100px;
  font-family: Hiragino Maru Gothic Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 72px;
  color: #ffffff;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 50px;
  -webkit-box-shadow: 5px 20px 20px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 20px 20px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  background-color: #fff;
}

.card.half {
  width: 40%;
  height: 40%;
}

.home .card-content {
  margin: 0 auto;
  width: 50%;
}

.home .card-content > .logo {
  margin-top: 180px;
  text-align: center;
  -webkit-transform: translateX(2%);
          transform: translateX(2%);
}

.home .card-content > .logo img {
  width: 90%;
}

.home .card-content > .title {
  margin-top: 150px;
  width: 100%;
  text-align: center;
  font-family: Hiragino Maru Gothic Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 9rem;
  color: #625b56;
}

.home .card-content > .btn_container {
  margin-top: 150px;
  text-align: center;
}

.wrapper.favorite .main {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.wrapper.favorite .main .title {
  margin-top: 90px;
  width: 100%;
  text-align: center;
  font-family: Hiragino Maru Gothic Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 9rem;
  color: #fff;
}

.wrapper.favorite .main .list {
  width: 80%;
  margin: 0 auto;
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper.favorite .main .list .item {
  width: 50%;
  margin-bottom: 90px;
}

.wrapper.favorite .main .list .item .content {
  position: relative;
  margin: 0 auto;
  width: 35rem;
  height: 35rem;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: -12px -5px 4px rgba(255, 255, 255, 0.1), 10px 10px 4px rgba(124, 124, 124, 0.1), inset 30px 10px 20px rgba(255, 255, 255, 0.1);
          box-shadow: -12px -5px 4px rgba(255, 255, 255, 0.1), 10px 10px 4px rgba(124, 124, 124, 0.1), inset 30px 10px 20px rgba(255, 255, 255, 0.1);
}

.wrapper.favorite .main .list .item .content img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  height: auto;
}

.wrapper.favorite .main .list .item:nth-child(2n) {
  margin-right: 0;
}
